*__pycache__
**/scripts/
clean/
data/
**/figs
opt/
**/results
**/policy_tables
*.csv
*.pickle
**/*.ipynb_checkpoints/
**/*.pyc
**/*.parquet
**/*.cpg
**/*.dbf
**/*.shp
**/*.shx
**/*.pickle
**/*.csv
**/*.pdf
**/*.egg-info
